<a href="https://colab.research.google.com/github/amanshah22073/Omdena---Kharagpur/blob/main/Omdena_kharagpur_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('/content/drive/MyDrive/Sample Data _ Nov 14.xlsx')

In [3]:
df

,User Name,Suggestion
0,NaN,NaN
1,ShrimanthSadalagi,"Respected Madam/Sir,\nWe Krushi Mitra Grameen ..."
2,Gomathinayagam,Dear sir\nAs I already update the AC sitting c...
3,Divya Ujwal,"Respected Sir, I want to give suggestions rega..."
4,CommonMan Suresh Gupta Mittapally,green birthday: I am visiting schools to motiv...
...,...,...
528,SatishKumar,आयुष्मान भारत के तहत कार्यरत आयुष्मान मित्र की...
529,Arun Pareek,Everybody have to join Indian Army / Airforce ...
530,Venkatesh C S,my above submissions not taken seriously by H ...
531,Tiwari,Tourism and Image of India - whats the first t...
532,Swaraj Ashish Jain,म.प्र में 150 युनिट तक की खपत के बिजली बिल पर ...

In [4]:
text = df['Suggestion'][532]

In [5]:
text

'म.प्र में 150 युनिट तक की खपत के बिजली बिल पर राज्य सरकार द्वारा लगभग 500 से 700 रुपये प्रति उपभोक्ता/बिल सब्सिडी दी जाती है, क्या यह अच्छा नहीं होगा कि एक एसपीवी या ज्वाइन्ट वेंचर बनाया जाये जिसमे केन्द्र राज्य और कॉर्पोरेट्स की भागीदारी हो और यह वेंचर ऐसे सभी उपभोक्ताओं जिनकी खपत लगातार 150 यूनिट के आसपास आ रही है, उनके घर की रुफ पर अपनी लागत पर ( बिना उपभोक्ता से एक भी पैसा लिये) लगभग 2 केवी का ग्रिड आधारित सोलर पैनल सिस्टम लगाये, इससे लगभग 8 के वी सोलर पावर जेनरेट होगी जिसमें से लगभग 150-200 यूनिट प्रतिमाह उपभोक्ता के उपयोग के बाद ग्रिड मेंं चली जाये, और उपभोक्ता का बिल जैसा पहले आ रहा था वैसै ही उसी सब्सिडी पैटर्न पर आता रहे, इससे उपभोक्ता की खपत के बाद जो बिजली ग्रिड में जायेगी उससे इस सिस्टम के इंस्टालेशन की लागत की वसूली होती रहेगी और कुल मिलाकर जितने सिस्टम इस योजना से उपभोक्ता से बिना पैसा लिये स्थापित किये जायेंगे उनके कार्बन क्रेडिट बेचकर इनकी लागत और स्थापना व्यय की पूर्ति होती रहेगी, इससे कोयला,गैस पर निर्भरता घटेगी , सौर ऊर्जा के लिए स्थान की लागत की जरुरत नहीं होगी'

In [6]:
pip install googletrans==3.1.0a0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: googletrans==3.1.0a0 in /usr/local/lib/python3.8/dist-packages (3.1.0a0)
Requirement already satisfied: httpx==0.13.3 in /usr/local/lib/python3.8/dist-packages (from googletrans==3.1.0a0) (0.13.3)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Requirement already satisfied: rfc3986<2,>=1.3 in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.5.0)
Requirement already satisfied: hstspreload in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2022.12.1)
Requirement already satisfied: httpcore==0.9.* in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (0.9.1)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (3.0.4)
Requirement already satisfied: sniffio in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.3.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2022.9.24)
Requirement already satisfied: h2==3.* in /usr/local/lib/python3.8/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.2.0)
Requirement already satisfied: h11<0.10,>=0.8 in /usr/local/lib/python3.8/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (0.9.0)
Requirement already satisfied: hpack<4,>=3.0 in /usr/local/lib/python3.8/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.0.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /usr/local/lib/python3.8/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (5.2.0)

In [7]:
from googletrans import Translator
translator = Translator()
import googletrans

In [8]:
print(googletrans.LANGUAGES)

{'af': 'afrikaans', 'sq': 'albanian', 'am': 'amharic', 'ar': 'arabic', 'hy': 'armenian', 'az': 'azerbaijani', 'eu': 'basque', 'be': 'belarusian', 'bn': 'bengali', 'bs': 'bosnian', 'bg': 'bulgarian', 'ca': 'catalan', 'ceb': 'cebuano', 'ny': 'chichewa', 'zh-cn': 'chinese (simplified)', 'zh-tw': 'chinese (traditional)', 'co': 'corsican', 'hr': 'croatian', 'cs': 'czech', 'da': 'danish', 'nl': 'dutch', 'en': 'english', 'eo': 'esperanto', 'et': 'estonian', 'tl': 'filipino', 'fi': 'finnish', 'fr': 'french', 'fy': 'frisian', 'gl': 'galician', 'ka': 'georgian', 'de': 'german', 'el': 'greek', 'gu': 'gujarati', 'ht': 'haitian creole', 'ha': 'hausa', 'haw': 'hawaiian', 'iw': 'hebrew', 'he': 'hebrew', 'hi': 'hindi', 'hmn': 'hmong', 'hu': 'hungarian', 'is': 'icelandic', 'ig': 'igbo', 'id': 'indonesian', 'ga': 'irish', 'it': 'italian', 'ja': 'japanese', 'jw': 'javanese', 'kn': 'kannada', 'kk': 'kazakh', 'km': 'khmer', 'ko': 'korean', 'ku': 'kurdish (kurmanji)', 'ky': 'kyrgyz', 'lo': 'lao', 'la': 'latin', 'lv': 'latvian', 'lt': 'lithuanian', 'lb': 'luxembourgish', 'mk': 'macedonian', 'mg': 'malagasy', 'ms': 'malay', 'ml': 'malayalam', 'mt': 'maltese', 'mi': 'maori', 'mr': 'marathi', 'mn': 'mongolian', 'my': 'myanmar (burmese)', 'ne': 'nepali', 'no': 'norwegian', 'or': 'odia', 'ps': 'pashto', 'fa': 'persian', 'pl': 'polish', 'pt': 'portuguese', 'pa': 'punjabi', 'ro': 'romanian', 'ru': 'russian', 'sm': 'samoan', 'gd': 'scots gaelic', 'sr': 'serbian', 'st': 'sesotho', 'sn': 'shona', 'sd': 'sindhi', 'si': 'sinhala', 'sk': 'slovak', 'sl': 'slovenian', 'so': 'somali', 'es': 'spanish', 'su': 'sundanese', 'sw': 'swahili', 'sv': 'swedish', 'tg': 'tajik', 'ta': 'tamil', 'te': 'telugu', 'th': 'thai', 'tr': 'turkish', 'uk': 'ukrainian', 'ur': 'urdu', 'ug': 'uyghur', 'uz': 'uzbek', 'vi': 'vietnamese', 'cy': 'welsh', 'xh': 'xhosa', 'yi': 'yiddish', 'yo': 'yoruba', 'zu': 'zulu'}

In [11]:
print(translator.detect(text))

Detected(lang=hi, confidence=1)

In [39]:
trans = translator.translate(text)

In [40]:
print(trans.text)

In MP, about 500 to 700 rupees per consumer / bill subsidy is given by the state government on the electricity bill for the consumption of up to 150 units, would it not be good to form an SPV or joint venture in which the participation of the central state and corporates Ho and this venture to install grid based solar panel system of about 2 KV on the roof of all such consumers whose consumption is continuously coming around 150 units, at their own cost (without taking a single penny from the consumer), from this about 8 KV V. Solar power will be generated out of which about 150-200 units per month will go to the grid after the consumer's use, and the consumer's bill will continue to come on the same subsidy pattern as before. The cost of installation of this system will continue to be recovered and overall the cost and installation expenses will be met by selling carbon credits of all the systems that will be installed without taking money from the consumer, this will reduce the dependence on coal and gas. No space cost required for solar power

In [20]:
chars_hindi = [chr(c) for c in range(0x0900, 0x097f)]
df_hindi = df.loc[df.Suggestion.str.contains('|'.join(chars_hindi) , na= False )]

In [21]:
df_hindi

,User Name,Suggestion
5,Rakesh Kumar_169,मेरी इच्छा है कि आगामी चुनाव मे भी बीजेपी पूरे...
11,PROF RAJENDRA KUMAR VIPAT,Hon.Respected Prime Minister sir सुप्रभात 💐💐🙏💐...
18,Piyush Shrivastava,"महोदय,\nकृपया न्यायपालिका/शासन/पुलिस के चरित्र..."
20,Piyush Shrivastava,"महोदय,\nकृपया देश के महत्वपूर्ण पदों पर विराजि..."
25,Shivangkumarsingh,आप लोग इस न्यूज़ को हाईलाइट करें और सरकार तक प...
...,...,...
524,ARVIND KUMAR,"नमस्ते, निवेदन है कि प्रार्थी अरविन्द कुमार ग्..."
526,HarshArya,प्रधानमंत्री जी को सादर प्रणाम।\nमैं उत्तर प्र...
527,HarshArya,"प्रधानमन्त्री जी कॊ प्रणाम,\nभारत कॆ उत्तर प्र..."
528,SatishKumar,आयुष्मान भारत के तहत कार्यरत आयुष्मान मित्र की...
532,Swaraj Ashish Jain,म.प्र में 150 युनिट तक की खपत के बिजली बिल पर ...

In [42]:
def translated_text(text):
    text1 = []
    translated = translator.translate(text)
    text1.append(translated.text)
    return text1

In [43]:
df_hindi['Translated_text'] = df_hindi['Suggestion'].apply(translated_text)

<ipython-input-43-cdade00730eb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hindi['Translated_text'] = df_hindi['Suggestion'].apply(translated_text)

In [45]:
df_hindi.drop(['Suggestion'],axis = 1 , inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [49]:
df = df.astype(str)
df_english = df[df.Suggestion.map(lambda x: x.isascii())]

In [50]:
df_english

,User Name,Suggestion
0,nan,nan
2,Gomathinayagam,Dear sir\nAs I already update the AC sitting c...
4,CommonMan Suresh Gupta Mittapally,green birthday: I am visiting schools to motiv...
6,Vijay Inamdar,sir Smart city Dharwad railway station should ...
7,Ram K,Indian women are India's biggest strength. Con...
...,...,...
522,AlishaRani,Respected prime minister sir ma aap sa police ...
523,Deepanshu Gupta,A New criteria and new way of Monetary punishm...
525,RAJEEV RANJAN,"Request for lakes resoration:\nDear PM,\nAs we..."
529,Arun Pareek,Everybody have to join Indian Army / Airforce ...
530,Venkatesh C S,my above submissions not taken seriously by H ...

In [55]:
df_hindi.rename(columns = {'Translated_text':'Suggestion'}, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [57]:
df_final = pd.concat([df_hindi,df_english],axis = 0)

In [58]:
df_final

,User Name,Suggestion
5,Rakesh Kumar_169,[I wish that BJP should rule the country with ...
11,PROF RAJENDRA KUMAR VIPAT,[Hon.Respected Prime Minister sir सुप्रभात 💐💐🙏...
18,Piyush Shrivastava,"[Sir,\nPlease make necessary reforms/dismissal..."
20,Piyush Shrivastava,"[Sir,\nKindly observe the religion/castes of o..."
25,Shivangkumarsingh,[You people highlight this news and take it to...
...,...,...
522,AlishaRani,Respected prime minister sir ma aap sa police ...
523,Deepanshu Gupta,A New criteria and new way of Monetary punishm...
525,RAJEEV RANJAN,"Request for lakes resoration:\nDear PM,\nAs we..."
529,Arun Pareek,Everybody have to join Indian Army / Airforce ...
530,Venkatesh C S,my above submissions not taken seriously by H ...

In [59]:
import string
string.punctuation
def punct(text):
    text_punc = []
    for char in text:
        if char  not in string.punctuation:
            text_punc.append(char)
        text_joined  = ''.join(text_punc)  
    return text_joined

In [61]:
df_final['Suggestions'] = df_final['Suggestion'].apply(punct)

In [62]:

import nltk
nltk.download("stopwords")
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

def preprocess(text):
    result = []
    for token in gensim.utils.simple_preprocess(text):
        if len(token) >=3 and token not in stop_words:
            result.append(token)
    return result

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [63]:
import gensim

In [65]:
df_final['text'] = df_final['Suggestions'].apply(preprocess)
df_final['Text'] = df_final['text'].apply(lambda x: " ".join(x))

In [66]:
df_final

,User Name,Suggestion,Suggestions,text,Text
5,Rakesh Kumar_169,[I wish that BJP should rule the country with ...,I wish that BJP should rule the country with f...,"[wish, bjp, rule, country, full, majority, com...",wish bjp rule country full majority coming ele...
11,PROF RAJENDRA KUMAR VIPAT,[Hon.Respected Prime Minister sir सुप्रभात 💐💐🙏...,Hon.Respected Prime Minister sir सुप्रभात 💐💐🙏💐...,"[hon, respected, prime, minister, sir, please,...",hon respected prime minister sir please find e...
18,Piyush Shrivastava,"[Sir,\nPlease make necessary reforms/dismissal...","Sir,\nPlease make necessary reforms/dismissal ...","[sir, please, make, necessary, reforms, dismis...",sir please make necessary reforms dismissal ch...
20,Piyush Shrivastava,"[Sir,\nKindly observe the religion/castes of o...","Sir,\nKindly observe the religion/castes of ot...","[sir, kindly, observe, religion, castes, leade...",sir kindly observe religion castes leaders inc...
25,Shivangkumarsingh,[You people highlight this news and take it to...,You people highlight this news and take it to ...,"[people, highlight, news, take, government, ce...",people highlight news take government central ...
...,...,...,...,...,...
522,AlishaRani,Respected prime minister sir ma aap sa police ...,Respected prime minister sir ma aap sa police ...,"[respected, prime, minister, sir, aap, police,...",respected prime minister sir aap police force ...
523,Deepanshu Gupta,A New criteria and new way of Monetary punishm...,A New criteria and new way of Monetary punishm...,"[new, criteria, new, way, monetary, punishment...",new criteria new way monetary punishment adopt...
525,RAJEEV RANJAN,"Request for lakes resoration:\nDear PM,\nAs we...",Request for lakes resoration\nDear PM\nAs we k...,"[request, lakes, resoration, dear, know, water...",request lakes resoration dear know water secur...
529,Arun Pareek,Everybody have to join Indian Army / Airforce ...,Everybody have to join Indian Army Airforce ...,"[everybody, join, indian, army, airforce, navy...",everybody join indian army airforce navy least...
530,Venkatesh C S,my above submissions not taken seriously by H ...,my above submissions not taken seriously by H ...,"[submissions, taken, seriously, india, departm...",submissions taken seriously india departments ...

In [67]:
df_final.drop(['Suggestion' , 'Suggestions' , 'text'] , axis = 1  , inplace = True)

In [70]:
df_final.to_csv('processed_suggestions.csv', index=False)