<a href="https://colab.research.google.com/github/amanshah22073/Omdena---Kharagpur/blob/main/Omdena_kharagpur_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/Sample Data _ Nov 14.xlsx')

In [ ]:
df

,User Name,Suggestion
0,NaN,NaN
1,ShrimanthSadalagi,"Respected Madam/Sir,\nWe Krushi Mitra Grameen ..."
2,Gomathinayagam,Dear sir\nAs I already update the AC sitting c...
3,Divya Ujwal,"Respected Sir, I want to give suggestions rega..."
4,CommonMan Suresh Gupta Mittapally,green birthday: I am visiting schools to motiv...
...,...,...
528,SatishKumar,आयुष्मान भारत के तहत कार्यरत आयुष्मान मित्र की...
529,Arun Pareek,Everybody have to join Indian Army / Airforce ...
530,Venkatesh C S,my above submissions not taken seriously by H ...
531,Tiwari,Tourism and Image of India - whats the first t...
532,Swaraj Ashish Jain,म.प्र में 150 युनिट तक की खपत के बिजली बिल पर ...

In [ ]:
df.head()

,User Name,Suggestion
0,NaN,NaN
1,ShrimanthSadalagi,"Respected Madam/Sir,\nWe Krushi Mitra Grameen ..."
2,Gomathinayagam,Dear sir\nAs I already update the AC sitting c...
3,Divya Ujwal,"Respected Sir, I want to give suggestions rega..."
4,CommonMan Suresh Gupta Mittapally,green birthday: I am visiting schools to motiv...

In [ ]:
df = df.astype(str)
df2 = df[df.Suggestion.map(lambda x: x.isascii())]

In [ ]:
df2.describe()

          User Name                                         Suggestion
count           396                                                396
unique          320                                                380
top     Fresh Money  KIDNEY DONORS ARE NEEDED URGENTLY WhatsApp Num...
freq              8                                                  4

In [ ]:
df2.drop_duplicates(inplace = True, keep  = False)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
df2.dropna(how  = 'any' , inplace = True )

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 377 entries, 0 to 530
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   User Name   377 non-null    object
 1   Suggestion  377 non-null    object
dtypes: object(2)
memory usage: 8.8+ KB

In [ ]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
def punct(text):
    text_punc = []
    for char in text:
        if char  not in string.punctuation:
            text_punc.append(char)
        text_joined  = ''.join(text_punc)  
    return text_joined

In [ ]:
df2['Suggestions'] = df2['Suggestion'].apply(punct)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df2

,User Name,Suggestion,Suggestions
0,nan,nan,nan
2,Gomathinayagam,Dear sir\nAs I already update the AC sitting c...,Dear sir\nAs I already update the AC sitting c...
4,CommonMan Suresh Gupta Mittapally,green birthday: I am visiting schools to motiv...,green birthday I am visiting schools to motiva...
6,Vijay Inamdar,sir Smart city Dharwad railway station should ...,sir Smart city Dharwad railway station should ...
7,Ram K,Indian women are India's biggest strength. Con...,Indian women are Indias biggest strength Congr...
...,...,...,...
522,AlishaRani,Respected prime minister sir ma aap sa police ...,Respected prime minister sir ma aap sa police ...
523,Deepanshu Gupta,A New criteria and new way of Monetary punishm...,A New criteria and new way of Monetary punishm...
525,RAJEEV RANJAN,"Request for lakes resoration:\nDear PM,\nAs we...",Request for lakes resoration\nDear PM\nAs we k...
529,Arun Pareek,Everybody have to join Indian Army / Airforce ...,Everybody have to join Indian Army Airforce ...
530,Venkatesh C S,my above submissions not taken seriously by H ...,my above submissions not taken seriously by H ...

In [ ]:

import nltk
nltk.download("stopwords")
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

def preprocess(text):
    result = []
    for token in gensim.utils.simple_preprocess(text):
        if len(token) >=3 and token not in stop_words:
            result.append(token)
    return result

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
import gensim

In [ ]:
df2['text'] = df2['Suggestions'].apply(preprocess)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df2['Text'] = df2['text'].apply(lambda x: " ".join(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df2.drop(['Suggestion' , 'Suggestions' , 'text'] , axis = 1  , inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 377 entries, 0 to 530
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   User Name  377 non-null    object
 1   Text       377 non-null    object
dtypes: object(2)
memory usage: 8.8+ KB

In [ ]:
sample = df['Suggestion'][3]

In [ ]:
print(sample)

Respected Sir, I want to give suggestions regarding problem faced by working women workforce with small child. Even though ministry has mandated opening of crèches none of state psu are abiding by it.Therby creche should be mandatory and effective monitoring should be done.
Also I would suggest for effective working ,office hours should be 10-4pm so that work life balance is created.
Regards

In [ ]:
print(punct(sample))

Respected Sir I want to give suggestions regarding problem faced by working women workforce with small child Even though ministry has mandated opening of crèches none of state psu are abiding by itTherby creche should be mandatory and effective monitoring should be done
Also I would suggest for effective working office hours should be 104pm so that work life balance is created
Regards

In [ ]:
print(preprocess(sample))

['respected', 'sir', 'want', 'give', 'suggestions', 'regarding', 'problem', 'faced', 'working', 'women', 'workforce', 'small', 'child', 'even', 'though', 'ministry', 'mandated', 'opening', 'crèches', 'none', 'state', 'psu', 'abiding', 'therby', 'creche', 'mandatory', 'effective', 'monitoring', 'done', 'also', 'would', 'suggest', 'effective', 'working', 'office', 'hours', 'work', 'life', 'balance', 'created', 'regards']